<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WPMS</display-name>
  <resource-ref>
    <res-ref-name>jdbc/stu</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainSvl</display-name>
    <servlet-name>MainSvl</servlet-name>
    <servlet-class>com.wpms.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainSvl</servlet-name>
    <url-pattern>/MainSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.wpms.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProImgServlet</display-name>
    <servlet-name>ProImgServlet</servlet-name>
    <servlet-class>com.wpms.servlet.ProImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProImgServlet</servlet-name>
    <url-pattern>/ProImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProDetailServlet</display-name>
    <servlet-name>ProDetailServlet</servlet-name>
    <servlet-class>com.wpms.servlet.ProDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProDetailServlet</servlet-name>
    <url-pattern>/ProDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProCarServlet</display-name>
    <servlet-name>ProCarServlet</servlet-name>
    <servlet-class>com.wpms.servlet.ProCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProCarServlet</servlet-name>
    <url-pattern>/ProCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProDelServlet</display-name>
    <servlet-name>ProDelServlet</servlet-name>
    <servlet-class>com.wpms.servlet.ProDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProDelServlet</servlet-name>
    <url-pattern>/ProDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.wpms.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.wpms.servlet.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wpms.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.wpms.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.wpms.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdUserServlet</display-name>
    <servlet-name>UpdUserServlet</servlet-name>
    <servlet-class>com.wpms.servlet.UpdUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdUserServlet</servlet-name>
    <url-pattern>/UpdUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUserServlet</display-name>
    <servlet-name>GetAllUserServlet</servlet-name>
    <servlet-class>com.wpms.servlet.GetAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserServlet</servlet-name>
    <url-pattern>/GetAllUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProAddServlet</display-name>
    <servlet-name>ProAddServlet</servlet-name>
    <servlet-class>com.wpms.servlet.ProAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProAddServlet</servlet-name>
    <url-pattern>/ProAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProAddComServlet</display-name>
    <servlet-name>ProAddComServlet</servlet-name>
    <servlet-class>com.wpms.servlet.ProAddComServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProAddComServlet</servlet-name>
    <url-pattern>/ProAddComServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDilServlet</display-name>
    <servlet-name>OrderDilServlet</servlet-name>
    <servlet-class>com.wpms.servlet.OrderDilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDilServlet</servlet-name>
    <url-pattern>/OrderDilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOrderServlet</display-name>
    <servlet-name>GetOrderServlet</servlet-name>
    <servlet-class>com.wpms.servlet.GetOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrderServlet</servlet-name>
    <url-pattern>/GetOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComServlet</display-name>
    <servlet-name>GetComServlet</servlet-name>
    <servlet-class>com.wpms.servlet.GetComServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComServlet</servlet-name>
    <url-pattern>/GetComServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDelServlet</display-name>
    <servlet-name>UserDelServlet</servlet-name>
    <servlet-class>com.wpms.servlet.UserDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelServlet</servlet-name>
    <url-pattern>/UserDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProListServlet</display-name>
    <servlet-name>ProListServlet</servlet-name>
    <servlet-class>com.wpms.servlet.ProListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProListServlet</servlet-name>
    <url-pattern>/ProListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllOrdServlet</display-name>
    <servlet-name>GetAllOrdServlet</servlet-name>
    <servlet-class>com.wpms.servlet.GetAllOrdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllOrdServlet</servlet-name>
    <url-pattern>/GetAllOrdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllComServlet</display-name>
    <servlet-name>GetAllComServlet</servlet-name>
    <servlet-class>com.wpms.servlet.GetAllComServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllComServlet</servlet-name>
    <url-pattern>/GetAllComServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDelServlet</display-name>
    <servlet-name>OrderDelServlet</servlet-name>
    <servlet-class>com.wpms.servlet.OrderDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDelServlet</servlet-name>
    <url-pattern>/OrderDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSelServlet</display-name>
    <servlet-name>UserSelServlet</servlet-name>
    <servlet-class>com.wpms.servlet.UserSelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSelServlet</servlet-name>
    <url-pattern>/UserSelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImgUpdServlet</display-name>
    <servlet-name>ImgUpdServlet</servlet-name>
    <servlet-class>com.wpms.servlet.ImgUpdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgUpdServlet</servlet-name>
    <url-pattern>/ImgUpdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardelServlet</display-name>
    <servlet-name>CardelServlet</servlet-name>
    <servlet-class>com.wpms.servlet.CardelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardelServlet</servlet-name>
    <url-pattern>/CardelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProUpdServlet</display-name>
    <servlet-name>ProUpdServlet</servlet-name>
    <servlet-class>com.wpms.servlet.ProUpdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProUpdServlet</servlet-name>
    <url-pattern>/ProUpdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComDelServlet</display-name>
    <servlet-name>ComDelServlet</servlet-name>
    <servlet-class>com.wpms.servlet.ComDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComDelServlet</servlet-name>
    <url-pattern>/ComDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountUptServlet</display-name>
    <servlet-name>AccountUptServlet</servlet-name>
    <servlet-class>com.wpms.servlet.AccountUptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountUptServlet</servlet-name>
    <url-pattern>/AccountUptServlet</url-pattern>
  </servlet-mapping>
</web-app>